

<!-- Important!!!! -->
<!-- This div checks if a user is already logged in.
     If someone is logged in already, it will display
     their username along with a button to logout.
     If there is no user logged in, input fields will appear
     along with buttons to log in and sign in.
     Feel free to modify the look of the page, just keep
     note of how user logged in is being checked.

     The username text field is ONLY for sign up.
-->

    <!-- <input type="text" [(ngModel)]="username" placeholder="username"> -->
  

    



<body>
    <div id="background"> 
        <div id="labels">
            <div id="lab1">
                <span>Follow your interests.</span>
            </div>
            
            <div id="lab1">
                    <span>Hear what people are talking about.</span>
                </div>
    
            <div id="lab1">
                <span>Join the conversation.</span>
            </div>
    
        </div>
    
    </div>
    
    <div *ngIf="!(authenticationService.userLoggedIn )" id="background2">
        <h3> Log In</h3>
        <form>
            <div class="form-group">
                <!-- <label for="exampleInputEmail1">Email address</label> -->
                <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <!-- <label for="exampleInputPassword1">Password</label> -->
                <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" (click)="signIn()" routerLink="/home" class="btn btn-primary">Login</button>
            <a href="#" routerLink="/signup" routerLink="/signup"> Create an Account</a>
            <!-- <button type="submit" (click)="signIn()" routerLink="/signup" class="btn btn-primary">Sign Up</button> -->
        
        </form>
    </div>
</body>
