#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: lightcoral; 
    color: white;
}

div{
    display: block;
}

#labels {
    max-width: 840px;
    padding: 0 30%;
    position: relative;
    padding-top: 30%;
}

#lab1{
   display: flex;
   font-size: 18px;
   font-weight: bold;
   line-height: 24px;
   margin: 48px auto;
}

#background2 {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: white; 
    padding-left: 10%;
    padding-right: 10%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}