

<!-- Important!!!! -->
<!-- This div checks if a user is already logged in.
     If someone is logged in already, it will display
     their username along with a button to logout.
     If there is no user logged in, input fields will appear
     along with buttons to log in and sign in.
     Feel free to modify the look of the page, just keep
     note of how user logged in is being checked.

     The username text field is ONLY for sign up.
-->

    <!-- <input type="text" [(ngModel)]="username" placeholder="username"> -->
  

    



<body>
    <div id="background"> 
            <div id="wrapper">
                <span>.</span>
                <p class="text">YEETER</p>
            </div>
        <div id="labels">
            <div id="lab1">
                <span>Follow your interests.</span>
            </div>
            
            <div id="lab1">
                    <span>Hear what people are talking about.</span>
                </div>
    
            <div id="lab1">
                <span>Join the conversation.</span>
            </div>
    
        </div>
    
    </div>
    
    <div *ngIf="!(authenticationService.userLoggedIn)" id="background2">
        <h3> Log In</h3>

            <div class="form-group">
                <input type="text" [(ngModel)]="email" class="form-control" placeholder="Enter email">
                
            </div>
            <div class="form-group">
                <input type="password" [(ngModel)]="password" class="form-control"  placeholder="Password">
            </div>
            
            <button type="submit" (click)="signIn()" class="btn btn-primary">Login</button>
            <a href="#" routerLink="/signup"> Create an Account</a>
    </div>
</body>
