<nav class="navbar navbar-inverse">
    <div class="container-fluid">
            
        <div class="navbar-header">
            <img src="../../assets/img/sweet-potato.svg" class="navbar-brand" alt="logo">
            <a class="navbar-brand" href="#" routerLink="/home">Sweet Potato</a>
            <br>
        </div> 
        <ul class="nav navbar-nav" id="top-nav">
            <li><a href="#" routerLink="/home">Home</a></li>
            <li><a href="#" routerLink="/product">Products</a></li>
            <li><a href="#" routerLink="/signin" class="signin">Sign In</a></li>
            <li><a href="#" routerLink="/cartpage">Cart</a></li>
        </ul>
    </div>
</nav>