<!-- <p>home works!</p>
<h1 *ngIf="authenticationService.userLoggedIn">Hello {{authenticationService.userData.displayName}}</h1> -->
<!-- <body>

    <div class='container'>
            <header>This is the header</header>

            <div class="spacer">


            </div> -->

            <!-- <section>
                <div *ngFor="let item of [].constructor(10); let i = index">
                        <div class="card" style="width: 34rem;">
                            <div class="card-body">
                                
                                <h6 class="card-subtitle mb-2 text-muted">@Username {{i}}</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div style="float:right;">
                                    <a href="#" class="card-link">Like: 0</a>
                                    <a href="#" class="card-link">Dislike: 0</a>
                                </div>
                            </div>
                        </div>
                </div>
                
            </section> -->
    <!-- </div>
    
</body> -->
<body>

       
            
        <div class="top-nav">
                
            </div>
            
            <div class="container">
                
                <div class="row">
                    <div class="col-sm-3">
                        
                        <!-- User left hand information -->
                        <div class="panel">
                            <div class="panel-body">
                                <!-- <a href="#"><img class="img-responsive" alt="" src="http://placehold.it/800x500"></a> -->
                        
                                <div class="alert alert-primary" role="alert">
                                        <h2 class="circle" *ngIf="authenticationService.userLoggedIn"> {{authenticationService.userData.displayName}}</h2>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <h6>
                                                <small>FOLLOWERS</small>
                                                <br>
                                                <a href="#">1,545</a>
                                            </h6>
                                        </div>
                                        <div class="col-xs-4">
                                            <h6>
                                                <small>LIKES</small>
                                                <br>
                                                <a href="#">251</a>
                                            </h6>
                                        </div>
                                        <div class="col-xs-5">
                                            <h6>
                                                <small>DISLIKES</small>
                                                <br>
                                                <a href="#">153</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="alert alert-primary" role="alert">
                                    <ul>
                                        <!-- <li> -->
                                        <span class="home">
                                        <a href="#">
                                            
                                            <!-- <img src="https://img.icons8.com/ios-filled/50/000000/dog-house.png"> -->
                                            <h5>Home</h5>
                                            
                                        </a>
                                        </span>
                                        <!-- </li> -->
                                    </ul>
                                    <ul>
                                            
                                        <!-- <li> -->
                                            
                                        <!-- </li> -->

                                        <span class="profile">
                                            <a href="#">
                                                
                                                <!-- <img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png"> -->
                                                <h5>Profile</h5>
                                                
                                            </a>
                                        </span>
                                    </ul>

                                    <ul>
                                        <span class="logout">
                                                <a href="#">
                                                    
                                                    <!-- <img src="https://img.icons8.com/ios-filled/50/000000/user-male-circle.png"> -->
                                                    <!-- <h5>Log out</h5> -->
                                                    
                                                </a>
                                            </span>
                                            <button type="submit" class="btn btn-primary" (click)="signOut()">Sign out</button>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!-- End of User left hand information -->
                    
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-info">
                            <div class="header border-bottom ">
                                <h3>Home</h3>
                            </div>
                            
                            <div class="yeeting">
                                <input type="text" class="form-control" placeholder="What's happening?">
                                <span class="yeet-span">
                                    <button class="btn-yeet">YEET</button>
                                </span>
                                
                            </div>
                            
    

                            <!--  Middle panel Feed -->
                            <div class="panel-body">
                                <section>
                                    <div *ngFor="let item of [].constructor(10); let i = index">
                                        <div class="card" style="width: 33.6rem;">
                                            <div class="card-body">
                                                
                                                <h6 class="card-subtitle mb-2 text-muted">@Username {{i}}</h6>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                                <div style="float:right;">
                                                    <a href="#" class="card-link">Like: 0</a>
                                                    <a href="#" class="card-link">Dislike: 0</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        
                                    </section>
                            </div>
                            <!--  End of Middle panel Feed -->

                        </div>
            
                        <br>
                        <br>
                        <br>
            
            
                     
                    </div>
            
                    <div class="col-sm-3">
                        <div class="panel panel-default panel-custom">
                        
                                <div class="panel-heading">
                                        <div class="media">
                                            <!-- <a class="media-left" href="#fake">
                                                <img alt="" class="media-object img-rounded" src="http://placehold.it/35x35">
                                            </a> -->
                                            <div class="media-body">
                                                <div class="form-group has-feedback alert alert-primary">
                                                    <!-- <label class="control-label sr-only" for="inputSuccess5">Hidden label</label> -->
                                                    <input type="text" class="form-control" placeholder="Search">
                                                    <!-- <span class="glyphicon glyphicon-camera form-control-feedback" aria-hidden="true"></span> -->
                                                    <span id="search2" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                        </div>
                 
                    </div>



                </div>
            </div>

</body>


    


