<h1 *ngIf="authenticationService.userLoggedIn">Hello {{authenticationService.userData.displayName}}</h1> 

<button type="submit" class="btn btn-primary" (click)="signOut()">Sign out</button>
  
<div class="wrapper">
  <main>
    <div *ngFor="let item of yeets;">
      <div class="card" style="width: 40rem;" id={{item.key}} >
        <div class="card-body">
          <!-- <h5 class="card-title">@Username{{i}}</h5> -->
          <h6 class="card-subtitle mb-2 text-muted">@{{item.username}}</h6>
          <p class="card-text">{{item.yeet}}</p>
          <section style="float:right;">
            <a href="javascript: void(0)" (click)="
              like(item);
              item.userLiked ? item.likes = item.likes - 1 :  item.likes = item.likes + 1;
              item.userLiked ? item.userLiked = false :  item.userLiked = true;
              "
            class="card-link" id={{item.likes}}>Like: {{item.likes}}</a>
              <a href="javascript: void(0)" (click)="
                dislike(item); 
                item.userDisliked ? item.dislikes = item.dislikes - 1 :  item.dislikes = item.dislikes + 1;
                item.userDisliked ? item.userDisliked = false :  item.userDisliked = true;
              "
              class="card-link">Dislike: {{item.dislikes}}</a>
          </section>
        </div>
      </div>
    </div>     
    <div *ngIf="!(yeets)" id="background2">
        Yeets are empty....
    </div>
  </main>
</div>
